regulatorio.aux
regulatorio.bbl
regulatorio.bcf
regulatorio.blg
regulatorio.cjk
regulatorio.epub
regulatorio.log
regulatorio.out
regulatorio.pdf
regulatorio.run.xml
regulatorio.tex~
regulatorio.toc
easyReview.aux
easyReview.glo
easyReview.idx
easyReview.log
easyReview.out
easyReview.pdf
easyReview.synctex.gz
easyReview.tex
easyReview.toc
#bibliografia.bib#
